<launch>
    <arg name="camera"/>
	<arg name="machine" default="localhost" />
	<arg name="user" default="" />
	<arg name="with_mux" default="false" />

	<machine name="$(arg machine)" address="$(arg machine)" env-loader="/opt/strands/strands_catkin_ws/devel/env.sh" user="$(arg user)" default="true"/>

    <!-- This node downsamples cloud and removes voxels with too few points in them -->
    <node pkg="scitos_2d_navigation" type="subsample_cloud" name="subsample_cloud" output="screen">
        <param name="input" value="$(arg camera)/depth/points"/>
        <param name="output" value="/move_base/points_subsampled"/>
    </node>
    
    <!-- This node divides into points below and above the floor -->
    <node pkg="scitos_2d_navigation" type="mirror_floor_points" name="mirror_floor_points" output="screen">
        <param name="input" value="/move_base/points_subsampled"/>
        <param name="obstacle_output" value="/move_base/points_clearing"/>
        <param name="floor_output" value="/move_base/points_cliff"/>
        <!-- Distance below floor that's counted as stair -->
        <param name="below_threshold" value="0.05"/>
    </node>

    <!-- This node removes the desired cutoff pixels from the cloud edges -->
    <node pkg="scitos_2d_navigation" type="remove_edges_cloud" name="remove_edges_cloud" output="screen">
        <param name="input" value="/move_base/points_clearing"/>
        <param name="output" value="/move_base/points_obstacle"/>
        <param name="cutoff" value="50.0"/>
        <param name="cutoff_z" value="0.3"/>
    </node>
    
    <!-- This node enables us to visualize the 3d occupancy of the costmap -->
	<node pkg="costmap_2d" type="costmap_2d_cloud" name="costmap_2d_cloud" output="screen"/>

	<node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen" clear_params="true" if="$(arg with_mux)">
        <!-- default:20.0. with this value dwa planner fails to find a valid plan a lot more -->
	    <remap from="/move_base/local_costmap/voxel_grid" to="/voxel_grid"/>
        <remap from="/cmd_vel" to="/cmd_vel_mux/input/navigation"/>
        <param name="controller_frequency" value="10.0" />
        <param name="controller_patience" value="15.0" />
        <param name="planner_frequency" value="2.0" />
        <param name="clearing_rotation_allowed" value="false" />
        <rosparam file="$(find scitos_2d_navigation)/scitos_move_base_params_3d/costmap_common_params.yaml" command="load" ns="global_costmap" />
        <rosparam file="$(find scitos_2d_navigation)/scitos_move_base_params_3d/costmap_common_params.yaml" command="load" ns="local_costmap" />
        <rosparam file="$(find scitos_2d_navigation)/scitos_move_base_params_3d/local_costmap_params.yaml" command="load" />
        <rosparam file="$(find scitos_2d_navigation)/scitos_move_base_params_3d/global_costmap_params.yaml" command="load" />
        <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS" />
        <rosparam file="$(find scitos_2d_navigation)/scitos_move_base_params_3d/dwa_planner_ros.yaml" command="load" />
	</node>
	<node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen" clear_params="true" unless="$(arg with_mux)">
        <!-- default:20.0. with this value dwa planner fails to find a valid plan a lot more -->
	    <remap from="/move_base/local_costmap/voxel_grid" to="/voxel_grid"/>
        <param name="controller_frequency" value="10.0" />
        <param name="controller_patience" value="15.0" />
        <param name="planner_frequency" value="2.0" />
        <param name="clearing_rotation_allowed" value="false" />
        <rosparam file="$(find scitos_2d_navigation)/scitos_move_base_params_3d/costmap_common_params.yaml" command="load" ns="global_costmap" />
        <rosparam file="$(find scitos_2d_navigation)/scitos_move_base_params_3d/costmap_common_params.yaml" command="load" ns="local_costmap" />
        <rosparam file="$(find scitos_2d_navigation)/scitos_move_base_params_3d/local_costmap_params.yaml" command="load" />
        <rosparam file="$(find scitos_2d_navigation)/scitos_move_base_params_3d/global_costmap_params.yaml" command="load" />
        <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS" />
        <rosparam file="$(find scitos_2d_navigation)/scitos_move_base_params_3d/dwa_planner_ros.yaml" command="load" />
	</node>

</launch>
