<launch> 
    <arg name="machine" default="localhost" />
    <arg name="user" default="" />

	<!-- NOW when launching in a remote mode it will need the ROS_ENV_LOADER set if not it will leave it empty -->
	<machine name="$(arg machine)" address="$(arg machine)" env-loader="$(optenv ROS_ENV_LOADER )" user="$(arg user)" default="true"/>

    <!-- Robot -->
    <arg name="urdf_file" default="$(find xacro)/xacro.py '$(find strands_description)/urdf/scitos_chest_camera.xacro'" />
    <arg name="model_file" default="$(find xacro)/xacro.py '$(find strands_description)/urdf/scitos_all_robot_model.xacro'" />
    <param name="robot_description" command="$(arg model_file)" />

    <group ns="chest">
      <param name="robot_description" command="$(arg urdf_file)" />
      <!-- Joint state publisher to accumulate joints -->
      <node name="chest_joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
        <!-- include the pan/tilt unit joint states -->
        <rosparam param="source_list">[/chest_calibration_publisher/state]</rosparam>
      </node>

      <node name="chest_robot_state_publisher" pkg="robot_state_publisher" type="state_publisher"/>
   </group>

    <node pkg="calibrate_chest" type="chest_calibration_publisher" name="chest_calibration_publisher" output="screen"/>

</launch>
