<launch>

    <arg name="camera"/>

    <!-- Run a VoxelGrid filter to clean NaNs and downsample the data -->
    <!--
    <node pkg="nodelet" type="nodelet" name="pcl_manager" args="manager" output="screen"/>
    <node pkg="nodelet" type="nodelet" name="voxel_subsample_chest" args="load pcl/VoxelGrid pcl_manager" output="screen">
        <remap from="voxel_subsample_chest/input" to="/points_subsampled"/>
        <rosparam>
            leaf_size: 0.01
        </rosparam>
    </node>
	-->

    <!-- This node downsamples cloud and removes voxels with too few points in them -->
    <node pkg="scitos_2d_navigation" type="subsample_cloud" name="subsample_cloud" output="screen">
        <param name="input" value="$(arg camera)/depth/points"/>
        <param name="output" value="/move_base/points_subsampled"/>
    </node>

    <!-- This node removes the desired cutoff pixels from the cloud edges -->
    <node pkg="scitos_2d_navigation" type="remove_edges_cloud" name="remove_edges_cloud" output="screen">
        <param name="input" value="/move_base/points_subsampled"/>
        <param name="output" value="/move_base/points_clearing"/>
        <param name="cutoff" value="40.0"/>
        <param name="cutoff_z" value="0.4"/>
    </node>

    <!-- This node enables us to visualize the 3d occupancy of the costmap -->
	<node pkg="costmap_2d" type="costmap_2d_cloud" name="costmap_2d_cloud" output="screen"/>

	<node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen" clear_params="true">
        <!-- default:20.0. with this value dwa planner fails to find a valid plan a lot more -->
	    <remap from="/move_base/local_costmap/voxel_grid" to="/voxel_grid"/>
        <param name="controller_frequency" value="10.0" />
        <param name="controller_patience" value="15.0" />
        <param name="planner_frequency" value="2.0" />
        <rosparam file="$(find scitos_2d_navigation)/scitos_move_base_params_3d/costmap_common_params.yaml" command="load" ns="global_costmap" />
        <rosparam file="$(find scitos_2d_navigation)/scitos_move_base_params_3d/costmap_common_params.yaml" command="load" ns="local_costmap" />
        <rosparam file="$(find scitos_2d_navigation)/scitos_move_base_params_3d/local_costmap_params.yaml" command="load" />
        <rosparam file="$(find scitos_2d_navigation)/scitos_move_base_params_3d/global_costmap_params.yaml" command="load" />
        <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS" />
        <rosparam file="$(find scitos_2d_navigation)/scitos_move_base_params_3d/dwa_planner_ros.yaml" command="load" />
	</node>

</launch>
